.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

#counter-button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	background-color: #007bff; /* Blue color */
	border: none;
	border-radius: 10px; /* Curved edges */
	color: #ffffff; /* White text color */
}

#count {
	font-size: 24px;
	margin-top: 20px;
}